@import "~stream-chat-react/dist/scss/v2/index.scss";

.str-chat__theme-dark {
  --str-chat__primary-color: #26a69a;
  --str-chat__active-primary-color: #00796b;
  --str-chat__surface-color: #1e1e1e;
  --str-chat__secondary-surface-color: #121212;
  --str-chat__avatar-background-color: #ff7043;
}
